body {
   background: radial-gradient(circle at 20% 30%, #4a7dff, 
   transparent 40%), radial-gradient(circle at 80% 70%, 
   #1f3c88, transparent 40%), linear-gradient(120deg, #0f2027,
    #203a43, #2c5364);
    background-size: 200% 200%;
    animation: aurora 10s ease infinite;
    height: 100vh;
    margin: 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container{

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 50vh;  
    width: 90%;
    background: rgba(197, 190, 190, 0.3); /* opacidade */
    backdrop-filter: blur(51px);          /* desfoque */
    -webkit-backdrop-filter: blur(15px);  /* safari */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 24px;
    padding: 50px 3px;
    width: 90%;
    max-width: 350px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: -35%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease;
}

h1 {
    color: #1f3c88;
    margin-bottom: 5px;
}

p {
    color: #000000;
    font-size: 14px;
    margin-bottom: 20px;
}

.btn {
    display: block;
    width: 85%;
    padding: 14px;
    margin: 3px 0;
    background: #4a7dff;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    border: none;
}

.btn1 {
    display: block;
    width: 85%;
    padding: 14px;
    margin: 3px 0;
    background: #1f3c88;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    border: none;
}

.foto {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #6b90da;
}
